@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");

/** CSS Variables */
:root {
  /* colors */
  --clr-primary-600: #003249;
  --clr-primary-400: #004c6f;

  --clr-accent-700: #592941;
  --clr-accent-400: #7f3a5c;

  --clr-neutral-200: #ccdbdc;
  --clr-neutral-900: #0d0f0e;

  /* font family */
  --ff-primary: "PT-Serif", "serif";
  --ff-body: var(--ff-primary);
  --ff-headings: var(--ff-primary);

  /* font weight */
  --fw-regular: 400;
  --fw-bold: 700;

  /* font size */
  --fs-300: 0.8rem;
  --fs-500: 1.3rem;
  --fs-700: 2rem;
  --fs-800: 3.3rem;
}

.primary-light {
  --main: var(--clr-primary-400);
  --accent: var(--clr-accent-700);
  --netural: var(--clr-neutral-900);
}

.primary {
  --main: var(--clr-primary-600);
  --accent: var(--clr-accent-400);
  --netural: var(--clr-neutral-200);
}

.accent-light {
  --main: var(--clr-accent-400);
  --accent: var(--clr-primary-600);
  --netural: var(--clr-neutral-900);
}

.accent {
  --main: var(--clr-accent-700);
  --accent: var(--clr-primary-400);
  --netural: var(--clr-neutral-200);
}

.dark {
  --main: var(--clr-neutral-900);
  --accent: var(--clr-primary-600);
  --neutral: var(--clr-neutral-200);
}

.light {
  --main: var(--clr-neutral-200);
  --accent: var(--clr-primary-400);
  --neutral: var(--clr-neutral-900);
}

.hidden {
  display: none;
}

/** CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

textarea {
  resize: none;
}

/** general styles */
.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2vw;
}

.title {
  color: var(--main);
  font-size: var(--fs-800);
  font-weight: var(--fw-bold);
  letter-spacing: 0.3vw;
  text-shadow: 0.15vw 0.15vw var(--neutral);
}

.btn {
  background-color: var(--main);
  border-radius: 1.15vw;
  border: 0.1vw solid var(--neutral);
  box-shadow: 0.15vw 0.15vw 0.05vw var(--netural);
  font-family: var(--ff-body);
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
}

.btn:hover {
  background-color: var(--accent);
  cursor: pointer;
  transform: translateY(-0.3vw);
  transition: all 0.1s;
}

label {
  color: var(--main);
  font-family: var(--ff-headings);
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
}

label:hover {
  color: var(--neutral);
  cursor: pointer;
  text-shadow: 0.05vw 0.05vw var(--accent);
  transition: all 0.2s;
}

.link {
  color: var(--main);
  font-family: var(--ff-headings);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  text-shadow: 0.05vw 0.05vw var(--neutral);
  transition: all 0.2s;
}

.link:hover {
  color: var(--neutral);
  cursor: pointer;
  text-shadow: 0 0;
  transition: all 0.2s;
}

input {
  background-color: var(--netural);
  border-radius: 0.3vw;
  border: 0.1vw solid var(--main);
  color: var(--main);
  font-family: var(--ff-body);
  font-size: var(--fs-500);
  outline-offset: 0.1vw;
  padding: 0.3vw;
  text-align: start;
}

select {
  background-color: var(--main);
  color: var(--accent);
  border-radius: 0.15vw;
}

/** body and app */
body {
  align-items: center;
  background-color: var(--clr-neutral-200);
  display: flex;
  justify-content: center;
  gap: 1.5vw;
  overflow-x: hidden;
  /* width: fit-content; */
}

/** login and registration forms */
.user-form {
  align-items: center;
  background-color: var(--clr-primary-600);
  border-radius: 2.3vw;
  border: 0.1vw solid var(--clr-neutral-900);
  box-shadow: 0.15vw 0.15vw 0.05vw var(--clr-neutral-900);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 40vw;
  padding: 1.5vw;
  position: relative;
  width: 75vw;
}

.register {
  padding: 1vw;
}

.form-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5vw;
}

.register-body {
  gap: 0.5vw;
}

.form-submit {
  min-height: 7vw;
  width: 20vw;
}

.form-container {
  background-color: var(--clr-accent-400);
  border-radius: 0.75vw;
  border: 0.1vw solid var(--clr-neutral-900);
  box-shadow: 0.15vw 0.15vw var(--clr-neutral-900);
  min-height: 8vw;
  width: 65vw;
}

.form-input {
  min-height: 2.5vw;
  padding: 0.6vw;
  width: 30vw;
}

.form-footer {
  color: var(--clr-neutral-900);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
}

.register-footer {
  left: 2vw;
  position: absolute;
  top: 1vw;
}

/** logged-in pages (shared layout) */
.logged-in-page {
  width: 100vw;
}

.page-header {
  align-items: center;
  display: flex;
  gap: 8vw;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  width: 100%;
}

.log-out {
  padding: 0.5vw;
}

/** folder page */
/* folder */
.folder-page {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  padding: 0.75vw;
  position: absolute;
  width: 100%;
}

.folder-holder {
  align-items: flex-start;
  background-color: var(--clr-primary-600);
  border-radius: 1.5vw;
  border: 0.1vw solid var(--clr-neutral-900);
  display: flex;
  justify-content: center;
  min-height: 80vh;
  overflow: auto;
  padding-top: 1.5vw;
  position: relative;
  scrollbar-width: none; /*? Firefox */
  width: 75vw;
  -ms-overflow-style: none; /*? IE and Edge */
}

.folder-holder::-webkit-scrollbar {
  display: none;
}

.folder-table {
  width: 90%;
}

.folder-headings {
  background-color: var(--clr-neutral-200);
  width: 100%;
  height: 2.5vw;
}

.folder-entity {
  background-color: var(--clr-accent-700);
  height: 3vw;
}

.folder-entity > * {
  padding: 0.5vw 1vw;
}

.folder-entity:hover {
  cursor: context-menu;
}

.selected {
  background-color: var(--clr-primary-400);
}

/* action buttons */
.action-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4vw;
}

.upload-action,
.create-action {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  justify-content: center;
  min-height: 20vh;
}

.icon {
  height: 7vw;
  width: 7vw;
}

.icon:hover {
  cursor: pointer;
  transform: translateY(-0.3vw);
  transition: all 0.2s;
}

.upload-label {
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
}

/* custom context menu */
.menu {
  align-items: stretch;
  background-color: var(--clr-neutral-200);
  border-radius: 0.05vw;
  border: 0.1vw solid var(--clr-neutral-900);
  box-shadow: 0 0 0.25vw 0 var(--clr-neutral-200);
  display: flex;
  flex-direction: column;
  font-size: var(--fs-500);
  justify-content: space-between;
  list-style: none;
  min-height: 15vw;
  position: absolute;
  transition: opacity 0.5s linear;
  width: 10vw;
  z-index: 10;
}
.option {
  align-items: center;
  display: flex;
  height: 3vw;
  justify-content: center;
}
.option:hover {
  background-color: var(--clr-primary-400);
  cursor: context-menu;
}

/** on-page displays */
/* display pop-up background */
.display-popup {
  align-items: center;
  background-color: var(--clr-neutral-900);
  box-shadow: 0 0 0vh 70vh rgba(245, 245, 245, 0.224);
  color: var(--clr-neutral-200);
  display: flex;
  gap: 1.5vw;
  justify-content: center;
  left: 50%;
  min-height: 80vh;
  padding: 3vw;
  position: absolute;
  top: 10vh;
  transform: translate(-50%, 0);
  width: 50vw;
  z-index: 10;
}

/* info */
.kv-pair {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 5vw;
}

.key {
  font-weight: var(--fw-bold);
}

.value {
  text-align: end;
}

/* rename, copy, delete */
.display-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  justify-content: center;
}

.display-holder {
  width: 30vw;
}

.display-input {
  padding: 0.5vw;
  text-align: center;
}

.display-type,
.delete-warning {
  color: var(--clr-neutral-200);
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
}

.display-submit {
  padding: 1vw;
}

.delete-buttons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 15vw;
}

.delete-btn {
  height: 3vw;
  width: 5vw;
}

.type-select {
  height: 1vw;
}

.new-file-body {
  background-color: var(--main);
  color: --accent;
  height: 12vw;
  padding: 0.15vw;
  width: 30vw;
}

/** file page */
.file-page {
  align-items: center;
  background-color: var(--clr-accent-400);
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 10vw;
  position: absolute;
  top: 10vw;
  width: 80vw;
}

.file-header {
  gap: 1.5vw;
}

.file-name {
  width: 15vw;
}

.file-body {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-900);
  font-family: var(--ff-body);
  font-size: var(--fs-500);
  font-weight: var(--fw-regular);
  height: 50vw;
  margin-bottom: 5vw;
  padding: 2vw;
  width: 50vw;
}

/** Media Queries */
@media (max-width: 768px) {
  :root {
    --fs-800: 2.5rem;
  }

  .user-form {
    height: 50vw;
  }

  .folder-page {
    padding: 2vw;
  }

  .folder-holder {
    width: 65vw;
  }

  .icon {
    width: 10vw;
    height: 10vw;
  }

  .file-page {
    height: 58vw;
  }
}

/*? Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
